.box{
    background-color: var(--fds-secondary-lighter);
    display: flex;
    border-radius: 4px;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    overflow: hidden;
}

.box-title{
    padding-left: var(--fds-spacing-3);
    font: var(--fds-body-2);
    color: var(--fds-primary);
}

.box-icon{
    color: var(--fds-primary);
    padding-left: var(--fds-spacing-4);
    display: flex;
}


html,
body {
    &::-webkit-scrollbar {
        display: none;
    }
}
