@use '@finastra/fds-theme' as fds;

.box{
    @include fds.property(background-color, surface-selected);
    display: flex;
    border-radius: 4px;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    overflow: hidden;
}

.box-title{
    @include fds.padding(3, left);
    @include fds.typography(body-2);
    @include fds.property(color,  primary);
}

.box-icon{
    @include fds.property(color,  primary);
    @include fds.padding(4, left);
    display: flex;
}


html,
body {
    &::-webkit-scrollbar {
        display: none;
    }
}
