@use '@finastra/fds-theme' as fds;

.Sheet{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    @include fds.property(background-color,  surface);
    @include fds.elevation(4);
}

.sheet-item{
    @include fds.padding(4);
    overflow: hidden;
}

.header-transaction:before{
    padding-right: 4px;
}

.title{
    @include fds.typography(headline-5);
    @include fds.property(color,  on-background);
}

.layout{
    @include fds.padding(4, top);
}

.transaction-list{
    display: none;
    max-height: 1000px;   
}

.scrollable:hover{
    overflow-y: overlay;
}

.transaction-list.active{
    display: flex;
    flex-direction: column;
}

.progress{
    padding: 30%;
}

.progress-bar{
    display: flex;
}

.progress-bar-text{
    @include fds.typography(body-2);
    @include fds.padding(3, left);
    @include fds.padding(3, top);
}

.search-input{
    display: flex;
    justify-content: flex-end
}

.scrollable:hover::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

.scrollable:hover::-webkit-scrollbar-thumb {
    @include fds.bg-color(surface-selected);
    border-radius: 4px;
}

.scrollable:hover::-webkit-scrollbar-track {
    @include fds.bg-color(surface);
}

fds-button-toggle-group{
    width: 80%;
}


html,
body {
    &::-webkit-scrollbar {
        display: none;
    }
}


