@use '@finastra/fds-theme' as fds;

.icon{
    width: 32px;
    height: 32px;
    @include fds.property(background-color, surface-selected);
    border-radius: 32px;
    @include fds.property(color,  primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-item{
    padding: 2%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.transaction-title{
    display: flex;
    justify-content: space-between;
}

.transaction-subtitle{
    @include fds.typography(body-3);
    overflow: hidden;
    text-overflow: ellipsis;
    @include fds.property(color, on-surface-medium);
}    

.transaction-amount{
    display: flex;
    align-items: center;
    white-space: nowrap;
    @include fds.padding(2, left);
    @include fds.typography(subtitle-2);
}

.transaction-info{
    display: flex;
    flex-direction: column;
    @include fds.padding(3, left);
    flex: 6;
    min-width: 0;
}

.transaction-desc{
    @include fds.typography(subtitle-2);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

html,
body {
    &::-webkit-scrollbar {
        display: none;
    }
}



  