.icon{
    width: 32px;
    height: 32px;
    background-color: var(--fds-secondary-lighter);
    border-radius: 32px;
    color: var(--fds-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-item{
    padding: 3%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.material-icons{
    font-size: 16px;
}

.transaction-name{
    padding-left: 12px;
    width: 100%;
}

.transaction-title{
    font: var(--fds-subtitle-2);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.transaction-subtitle{
    font: var(--fds-body-3);
}    

.transaction-info{
    display: flex;
    flex-direction: column;
}

html,
body {
    &::-webkit-scrollbar {
        display: none;
    }
}



  