@use '@finastra/fds-theme' as fds;

body {
    background-color: var(--fds-background);
    @include fds.bg-color(background)
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include fds.use-light-theme();
      fds-button {
        padding-left: var(--fds-spacing-3);
      }

      fds-user-profile fds-button {
        line-height: 0px;
        padding: var(--fds-spacing-0) var(--fds-spacing-3) var(--fds-spacing-2) var(--fds-spacing-3);
      }

      fds-user-profile fds-button + fds-button {
        margin-top: var(--fds-spacing-2);
      }

      .fds-sidenav {
        --mdc-drawer-width: 300px;
        @include fds.property(background-color,  surface);
        @include fds.text-color(on-surface);
      }

      .fds-sidenav-header {
        @include fds.property(background-color,  background);
        height: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .fds-sidenav-list {
        --mdc-theme-text-primary-on-background: var(--fds-on-background);
        width: 100%;
      }

      .header {
        background: url("../assets/Background.png") no-repeat;
        height: 350px;
        background-size: cover;
        @include fds.property(background-color,  background);
        width: 100%;
      }

      .header-title{
        padding: 32px;
        padding-top:48px;
        height: 70px;
        width: 300px;
      }

      .header-icon{
        float: left;
      }

      .app-title{
        float: left;
        margin-left: 10px;
        font: var(--fds-headline-3);
        color: var(--fds-surface);
      }

      .welcome-msg{
        @include fds.typography(body-1);
        @include fds.text-color(surface);
      }

      .content{
         @include fds.padding(5, top);
      }

      .main-content{
        display: flex;
        justify-content: center;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 2%;
         @include fds.property(background-color,  background);
      }

      .side-content{
        margin-bottom: 10px;
      }

      .agreement{
        display: flex;
        align-items: center;
      }
      
      .card{
        display: flex;
        justify-content: center;
      }

      fds-skeleton{
        --fds-skeleton-width:
        --fds-skeleton-height:
      }

}

html,
body {
    &::-webkit-scrollbar {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
  body {
    @include fds.use-dark-theme();
    
    .app-title{
      @include fds.use-light-theme();
    }

    .welcome-msg{
      @include fds.use-light-theme();
    }
  }
}


