/* You can add global styles to this file, and also import other style files */
@use '@finastra/fds-theme' as fds;
@use '@finastra/fds-theme/dark' with ($class: 'dark-theme');

body {
    @include fds.use-light-theme();
    @include fds.bg-color(background);
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (prefers-color-scheme: dark) {
    body {
      @include fds.use-dark-theme();
    }
  }

@media only screen and (max-width: 900px) {
    body{
        .search-input{
            justify-content: flex-start;
        }

        .header-pattern {
            right: -170px;
        }
    }
    
}

@media only screen and (min-width: 415px) {
    body{
        fds-dialog{
            --fds-dialog-min-width: 450px;
        }
    }
    
}

@media only screen and (max-width: 415px) {
    body{
        .transaction-title{
            font: var(--fds-subtitle-3);
        }

        .transaction-subtitle{
            font: var(--fds-body-3);
        } 

        .transaction-item{
            padding-top: 5%;
            padding-bottom: 5%;
        }

        .main-content{
            padding-right: 5%;
            padding-left: 5%;
        }

        .sheet-item{
            @include fds.padding(3);
        }

        .transaction-list{
            max-height: 400px;
        }

        .header-pattern {
            right: -240px;
        }

    }
    
}